body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Header */
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

/* Button */
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #3e8e41;
}

/* Features */
.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.features .feature {
    width: 300px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
    background-color: #fff;
    transition: transform 0.3s;
}

.features .feature:hover {
    transform: scale(1.05);
}

.features .feature i {
    font-size: 25px;
    margin-bottom: 20px;
    /*color: #4CAF50;*/
}

.features .feature h3 {
    margin-bottom: 20px;
}

.features .feature p {
    line-height: 1.5;
    color: #666;
}

/* Footer */
.footer {
    background-color: #333;
    padding: 15px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}*/

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}